body {
    margin: 0;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#left, #right {
    background-color: #F6F8FA;
    width: 30%;
    height: 40%;
    border-radius: 20px;
    border: 1px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#right:hover, #left:hover {
    box-shadow: #000000 0 0 16px -8px;
}

button, input {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #D9DEE3;
    transition: border-color 0.25s;
    margin: 10px;
}

button:hover, input:hover {
    border-color: #646cff;
}

button:focus, input:focus,
button:focus-visible, input:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

.show-value {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    margin: 10px;
}

select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;

    border-radius: 8px;
    border: 1px solid transparent;
    font-size: 1em;
    padding: 0.6em 1em 0.6em 0.6em;
    font-weight: 500;
    margin: 10px;
    width: auto;
    background: url("https://ourjs.github.io/static/2015/arrow.png") no-repeat scroll right center transparent;
}
